
.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #484747;
	font-size: 17px;
	font-weight: 300;
	line-height: 20px;
	padding: 10px 15px;
	display: inline-block;
	background: #fff;
	border: 1px solid #d8d8d8;
	@include placeholder(#484747);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		border-color: #b3b3b3;
		@include placeholder(transparent);
	}

	&.error {
		border-color: #ff0000;
	}
}

#inputFile {
	width: 100%;
	cursor: pointer;
	overflow: hidden;
	position: relative;

	.fileformlabel {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #000;
		z-index: 100;
		cursor: pointer;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		padding-top: 50px;
		display: block;
		position: absolute;

		&:hover {
			color: #fff;
		}
	}

	.upload {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		-moz-opacity: 0;
		filter: alpha(opacity=0);
		opacity: 0;
		font-size: 150px;
		height: 100%;
		z-index:20;
		display: block;
		cursor: pointer !important;
	}
}



.form-group {
	margin-bottom: 20px;
}